@model Livre

@{
    ViewData["Title"] = "Modifier un livre";
}

<h1 class="text-center">Modifier Un Livre</h1>

<div class="w-50 m-auto">
    <form asp-action="Edit">
        <div class="text-danger" asp-validation-summary="ModelOnly">a</div>
       <div class="mb-3 text-center">
        <img id="livre-url-viewer" style="max-width:150px;"/>
      </div>
      <div class="mb-3">
        <label asp-for="ImgUrl" class="form-label">Image Url</label>
        <input asp-for="ImgUrl" class="form-control" id="ImgUrl">
        <span asp-validation-for="ImgUrl" class="text-danger"></span>
      </div>

   
      <div class="mb-3">
        <label asp-for="Titre" class="form-label">Titre</label>
        <input asp-for="Titre" class="form-control">
        <span asp-validation-for="Titre" class="text-danger"></span>

      </div>

       <div class="mb-3">
        <label asp-for="Auteur" class="form-label">Auteur</label>
        <input asp-for="Auteur"  class="form-control">
        <span asp-validation-for="Auteur" class="text-danger"></span>

      </div>

       <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

      </div>

     <div class="mb-3">
        <input type="submit" value="Modifier" class="btn btn-success">
        <a class="btn btn-secondary" asp-action="Index">Show All </a>
      </div>

      </form>
</div>



@section Scripts{
    <script>

        $(document).ready(function(){
                   var output = document.getElementById('livre-url-viewer');
                    output.src = $('#ImgUrl').val();  
        })

            $("#ImgUrl").change(function(){
            var output = document.getElementById('livre-url-viewer');
            output.src = $(this).val();
        })
    </script>
}