html {
  font-size: 20px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #393E46;
    color:white
}

nav {
    background-color: #282A3A;
}

a{
    font-family:'Sitka Display'
}

.user-table {
    background-color: #F2DEBA
}